* {
    border: none;
    border-radius: 0;
    font-family: JetBrainsMono Nerd Font, Roboto, sans-serif;
    font-size: 12px;
    min-height: 0;
}

window#waybar {
    background: none;
    background-color: transparent;
    color: #c0caf5;
}

#custom-separator {
    color: lightblue;
    padding: 0 0px;
    font-weight: bold;
}

#custom-playerctl,
#mode,
#scratchpad,
#window,
#mpd,
#idle_inhibitor,
#pulseaudio,
#network,
#custom-power-profile,
#cpu,
#memory,
#temperature,
#backlight,
#custom-external-brightness,
#keyboard-state,
#language,
#battery,
#clock,
#custom-quick-settings,
#tray {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    padding: 0px 12px;
    margin: 0;
    color: #c0caf5;
}

#power-profiles-daemon,
#custom-power-profile,
#idle_inhibitor {
    min-width: 22px;
    padding: 0 8px;
}

#workspaces {
    background:none;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 13px;
    margin: 0;
}

#workspaces button {
    padding: 0 6px;
    color: #c0caf5;
    background-color: transparent;
    border-radius: 13px;

    border:none;
    box-shadow: none;
    outline: none;

    transition: all 0.3s cubic-bezier(0.5, 0.5, 0.5, 0.5);
}

#workspaces button:hover {
    background: none;
    background-color: rgba(42, 42, 181, 0.305);
    color: #7aa2f7;
}

#workspaces button.focused{
    background: none;
}

#workspaces button.active {
    color: #7aa2f7;
    font-weight: bold;
    background-color: rgba(42, 42, 181, 0.538);

}

#workspaces button.urgent {
    color: #f7768e;
}

#keyboard-state label {
    padding: 0 4px;
}

#custom-power {
    background-color: transparent;
    color: #f7768e;
    padding: 0 10px;
    margin: 0;
    font-size: 14px;
    border-right: none;
}

/* Cảnh báo pin */
#battery.warning {
    color: #e0af68;
}

#battery.critical:not(.charging) {
    color: #f7768e;
}

#tray > .passive,
#tray > .active,
#tray > .needs-attention {
    padding: 0 4px;
}

#custom-playerctl {
    color: #c0caf5;
    padding: 0 6px;
    margin: 0;
}

/* Khung chứa Menu Pop-up */
menu {
    background-color: #1e1e2e;
    border: 1px solid #45475a;
    border-radius: 12px;
    padding: 6px;
}

/* Các nút chọn trong Menu */
menuitem {
    color: #cdd6f4;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 0px;
    padding-right: 0px;
    border-radius: 8px;
    transition: all 0.2s ease;
}

/* Hiệu ứng khi rê chuột qua mục chọn */
menuitem:hover {
    background-color: #313244;
    color: #89b4fa;
}